/* -------------------------

General styles

-------------------------- */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;

}

/* -------------------------

 background-image

-------------------------- */

.background-image {
  position: fixed;
  left: 0;
  right: 0;
   display: block;
  background-image: url(../assets/img/car.jpg);
  background-size: cover;
  filter : blur(30px);
  width: 100%;
  height: 100%;
}

/* -------------------------

  controls

-------------------------- */

.controls {
  text-align: center;
  color: #FFF;
  position: relative;
  z-index: 1;
  margin: 15px auto 20px;
}

.state-jarbis {
    font-size: 24px;
}

.currentScenario {
    font-size: 24px;
}

/* -------------------------

Car styles

-------------------------- */
.bkgd-car{
    margin:auto;
    width: 1000px;
    height: 700px;
    background-image: url(../assets/img/car.jpg);
    background-size: cover;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 0 55px black;
}

.windshield{
    position: absolute;
    top: 16px;
    left: 41px;
    border-top: 160px solid transparent;
    border-left: 89px solid transparent;
    border-right: 24px solid transparent;
    height: 0;
    width: 264px;
    cursor: pointer;
}
.windshield:hover, .windshield.active{
    border-top-color: rgba(162, 162, 162, 0.3);
}

.car-element {
    position: absolute;
    border: 3px solid transparent;
    cursor: pointer;
}

.car-element:hover {
    border-color: red;
}

.wheel {
    width: 120px;
    height: 42px;
    border-radius: 50%;
}

.wheel-left-top{
    top: 208px;
    left: 100px;
    transform: rotate(140deg);
}

.wheel-left-bottom{
    top: 395px;
    left: 79px;
    transform: rotate(229deg);
}

.wheel-right-top{
    top: 208px;
    left: 268px;
    transform: rotate(41deg);
}

.wheel-right-bottom{
    top: 395px;
    left: 269px;
    transform: rotate(313deg);
}

.klaxon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 282px;
    left: 179px;
}

.gear-lever{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 425px;
    left: 496px;
}

/* -------------------------

Car styles

-------------------------- */
.scenarios{
    margin: 3em;
    position: absolute;
}
